pkgbase = t2scan
	pkgdesc = a small channel scan tool which generates DVB-T/T2 channels.conf files
	pkgver = 0.7
	pkgrel = 2
	url = https://github.com/mighty-p/t2scan
	arch = x86_64
	arch = i686
	arch = arm
	arch = armv6h
	arch = armv7h
	arch = aarch64
	license = GPL2
	depends = gcc-libs
	depends = glibc
	source = t2scan-0.7-ae1c768.tar.gz::https://github.com/mighty-p/t2scan/archive/ae1c768d8ff08400f8409e9e9338d375b78731c1.tar.gz
	sha256sums = 7a04aaabff34c83bac683e50e27494467ff1865829d2f95445a17228fe4b77c6

pkgname = t2scan
