pkgbase = kodi-addon-pvr-hts
	pkgdesc = Kodi's Tvheadend HTSP client addon
	pkgver = 21.2.6
	pkgrel = 1
	url = https://github.com/kodi-pvr/pvr.hts
	arch = x86_64
	arch = i686
	arch = armv6h
	arch = armv7h
	arch = aarch64
	license = GPL2
	makedepends = cmake
	makedepends = git
	makedepends = kodi-dev
	makedepends = kodi-platform
	depends = kodi
	source = git+https://github.com/kodi-pvr/pvr.hts.git#commit=27fa10450aaffe9a469510f1dcc94ea0e0a5cdda
	md5sums = 5688196333ae7c59e4e179e31e089705

pkgname = kodi-addon-pvr-hts
